<!DOCTYPE html>
<html>
  <head>
    <title>b33rti.me</title>

    <%= stylesheet_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  <body>
    <div id="app"></div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
